# Data Iklim Bandung 2021

In [66]:
import matplotlib.pyplot as pl
import numpy as np
import pandas as pd

dfBandung = pd.read_csv('laporan-cuaca-bandung.csv', sep=',')
dfJakarta = pd.read_csv('laporan-cuaca-jakarta.csv', sep=',')
dfBandung['Tanggal'] = pd.to_datetime(dfBandung['Tanggal'], format='%m/%d/%Y')
dfJakarta['Tanggal'] = pd.to_datetime(dfJakarta['Tanggal'], format='%m/%d/%Y')

In [67]:
dfBandung

,Tanggal,Tn,Tx,Tavg,RH_avg,RR,ss,ff_x,ddd_x,ff_avg,ddd_car
0,2021-01-01,20.8,29.6,23.3,76.0,NaN,3.0,5,330,3,NW
1,2021-01-02,21.2,30.0,24.9,68.0,0.8,3.9,5,350,2,NE
2,2021-01-03,21.4,30.0,24.1,74.0,1.8,2.3,4,300,2,W
3,2021-01-04,20.5,28.6,23.0,79.0,6.8,4.8,5,290,3,NW
4,2021-01-05,20.4,28.0,23.4,80.0,7.2,2.6,5,280,2,W
...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,21.0,30.8,24.2,80.0,0.3,5.8,4,220,1,C
361,2021-12-28,19.8,30.2,23.7,78.0,13.8,5.6,4,220,1,C
362,2021-12-29,20.3,29.6,24.2,80.0,NaN,6.0,4,280,2,W
363,2021-12-30,20.2,29.6,23.9,80.0,2.9,3.0,4,240,1,C
364,2021-12-31,20.9,29.8,24.4,79.0,0.0,2.4,3,300,2,W

In [68]:
dfJakarta

,Tanggal,Tn,Tx,Tavg,RH_avg,RR,ss,ff_x,ddd_x,ff_avg,ddd_car
0,2021-01-01,25.0,30.0,27.0,80,13.8,0.0,4,310,1,C
1,2021-01-02,25.0,31.2,27.6,78,NaN,2.5,6,290,2,C
2,2021-01-03,25.0,32.4,27.9,77,NaN,3.5,8,320,2,C
3,2021-01-04,25.6,32.6,28.8,75,9.4,2.7,7,260,2,C
4,2021-01-05,26.2,29.6,28.4,76,0.0,5.2,5,310,1,C
...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,24.2,30.8,28.2,77,NaN,5.0,7,330,2,C
361,2021-12-28,26.2,31.6,28.2,82,NaN,7.2,8,340,2,C
362,2021-12-29,24.6,30.8,27.5,84,9.0,3.8,4,320,1,C
363,2021-12-30,26.0,30.2,28.0,84,0.0,2.0,5,320,1,C
364,2021-12-31,25.8,33.6,29.3,77,0.8,0.0,4,260,1,C

## Suhu

In [69]:
print("Bandung")
print(f"Suhu terendah : {dfBandung['Tn'].min()}\u00b0C")
print(f"Suhu tertinggi : {dfBandung['Tx'].max()}\u00b0C")
print(f"Rata-rata suhu : {round(dfBandung['Tavg'].mean(), 1)}\u00b0C\n")

print("Jakarta")
print(f"Suhu terendah : {dfJakarta['Tn'].min()}\u00b0C")
print(f"Suhu tertinggi : {dfJakarta['Tx'].max()}\u00b0C")
print(f"Rata-rata suhu : {round(dfJakarta['Tavg'].mean(), 1)}\u00b0C")

Bandung
Suhu terendah : 15.6°C
Suhu tertinggi : 32.2°C
Rata-rata suhu : 23.6°C

Jakarta
Suhu terendah : 23.0°C
Suhu tertinggi : 35.2°C
Rata-rata suhu : 28.4°C

## Kelembaban

In [70]:
print("Bandung")
print(f"Kelembaban terendah : {dfBandung['RH_avg'].min()}%")
print(f"Kelembaban tertinggi : {dfBandung['RH_avg'].max()}%")
print(f"Rata-rata kelembaban : {round(dfBandung['RH_avg'].mean(), 3)}%\n")

print("Jakarta")
print(f"Kelembaban terendah : {dfJakarta['RH_avg'].min()}%")
print(f"Kelembaban tertinggi : {dfJakarta['RH_avg'].max()}%")
print(f"Rata-rata kelembaban : {round(dfJakarta['RH_avg'].mean(), 3)}%")

Bandung
Kelembaban terendah : 58.0%
Kelembaban tertinggi : 93.0%
Rata-rata kelembaban : 78.453%

Jakarta
Kelembaban terendah : 62%
Kelembaban tertinggi : 95%
Rata-rata kelembaban : 77.178%

## Curah hujan

In [76]:
print("Bandung")
print(f"Curah hujan terendah : {dfBandung[dfBandung['RR'] > 0]['RR'].min()} mm")
print(f"Curah hujan tertinggi : {dfBandung['RR'].max()} mm")
print(f"Rata-rata curah hujan : {round(dfBandung['RR'].mean(), 3)} mm\n")

print("Jakarta")
print(f"Curah hujan terendah : {dfJakarta[dfJakarta['RR'] > 0]['RR'].min()} mm")
print(f"Curah hujan tertinggi : {dfJakarta['RR'].max()} mm")
print(f"Rata-rata curah hujan : {round(dfJakarta['RR'].mean(), 3)} mm")

Bandung
Curah hujan terendah : 0.1 mm
Curah hujan tertinggi : 76.8 mm
Rata-rata curah hujan : 7.655 mm

Jakarta
Curah hujan terendah : 0.1 mm
Curah hujan tertinggi : 94.1 mm
Rata-rata curah hujan : 10.019 mm

## Lama penyinaran matahari

In [72]:
print("Bandung")
print(f"Sinar matahari tersingkat : {dfBandung[dfBandung['ss'] > 0]['ss'].min()} jam")
print(f"Sinar matahari terlama : {dfBandung['ss'].max()} jam")
print(f"Rata-rata lama sinar matahari : {round(dfBandung['ss'].mean(), 3)} jam\n")

print("Jakarta")
print(f"Sinar matahari tersingkat : {dfJakarta[dfJakarta['ss'] > 0]['ss'].min()} jam")
print(f"Sinar matahari terlama : {dfJakarta['ss'].max()} jam")
print(f"Rata-rata lama sinar matahari : {round(dfJakarta['ss'].mean(), 3)} jam")

Bandung
Sinar matahari tersingkat : 0.1 jam
Sinar matahari terlama : 9.8 jam
Rata-rata lama sinar matahari : 4.948 jam

Jakarta
Sinar matahari tersingkat : 0.2 jam
Sinar matahari terlama : 9.8 jam
Rata-rata lama sinar matahari : 4.244 jam

## Kecepatan angin

In [75]:
print("Bandung")
print(f"Kecepatan angin terendah : {dfBandung[dfBandung['ff_avg'] > 0]['ff_avg'].min()} m/s")
print(f"Kecepatan angin tertinggi : {dfBandung['ff_x'].max()} m/s")
print(f"Rata-rata kecepatan angin : {round(dfBandung['ff_avg'].mean(), 3)} m/s\n")


print("Jakarta")
print(f"Kecepatan angin terendah : {dfJakarta[dfJakarta['ff_avg'] > 0]['ff_avg'].min()} m/s")
print(f"Kecepatan angin tertinggi : {dfJakarta['ff_x'].max()} m/s")
print(f"Rata-rata kecepatan angin : {round(dfJakarta['ff_avg'].mean(), 3)} m/s")

Bandung
Kecepatan angin terendah : 1 m/s
Kecepatan angin tertinggi : 9 m/s
Rata-rata kecepatan angin : 1.597 m/s

Jakarta
Kecepatan angin terendah : 1 m/s
Kecepatan angin tertinggi : 10 m/s
Rata-rata kecepatan angin : 1.477 m/s